.content-left {
    display: flex;
    flex-direction: column;
    width: 35%;
    background: #f5f5f5;
    border-radius: 8px;
    overflow: hidden; // Không scroll toàn bộ khối này
    max-height: 100%;
  }
  .chapter-scroll {
    scroll-behavior: smooth;
    overflow-y: auto;
    max-height: calc(100vh - 200px);
  }
  
  .lesson-item {
    transition: background 0.3s ease;
    cursor: pointer;
  }
  .lesson-item:hover {
    background-color: #f5f5f5;
  }
  