.minna-topic {
  .content-topic {
    margin-top: 20px;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .span-title {
        color: rgba(16, 24, 40, 1);
        font-size: 20px;
        font-weight: 500;
      }

      .top-button {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    .list-topic {
      margin-top: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 24px;

      .topic-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        padding: 10px 10px;
        border: 1px solid rgba(221, 221, 221, 1);
        box-shadow: 0px 4px 0px 0px rgba(221, 221, 221, 1);
        border-radius: 6px;
        cursor: pointer;

        &:hover {
          opacity: 70%;
        }
        &:active {
          opacity: 50%;
          box-shadow: none;
        }

        .topic-image {
          padding: 10px;
          border-radius: 6px;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba(221, 221, 221, 1);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .info-topic {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .name-topic {
            overflow: hidden;
            text-overflow: ellipsis;
            display: flex;
            flex-direction: column;
            align-items: start;

            p {
              color: rgba(103, 103, 103, 1);
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              white-space: nowrap;
              margin: 0;
            }
            h4 {
              white-space: nowrap;
              text-overflow: ellipsis;
              font-weight: 600;
              font-size: 15px;
              line-height: 30px;
              letter-spacing: 0%;
              text-align: center;
              color: rgba(103, 103, 103, 1);
            }
          }
        }
      }
    }
  }

  .bottom-current-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
    margin-top: 10px;
  }
}
