.topic-detail {
  .content-topic-detail {
    margin-top: 20px;

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .span-title {
        color: rgba(16, 24, 40, 1);
        font-size: 30px;
        font-weight: 500;
      }

      .top-button {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    .topic-overview {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 20px;

      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
      }

      .btn-edit-minna {
        padding: 6px;
        border-radius: 5px;
        &:hover {
          background-color: #a1bfff;
          opacity: 40%;
          color: #ffffff;
        }
      }
      .btn-delete-minna {
        padding: 6px;
        border-radius: 5px;
        &:hover {
          color: red;
          background: #ffc0c0;
          opacity: 70%;
        }
      }

      h4 {
        font-weight: 500;
        font-size: 25px;
        line-height: 32px;
        letter-spacing: 0%;
        color: rgb(16, 24, 40);
      }
    }

    .list-vocabulary {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 24px;
      margin-top: 20px;

      .vocabulary-item {
        padding: 20px;
        cursor: pointer;
        border-radius: 6px;
        border: 1px solid rgba(221, 221, 221, 1);
        box-shadow: 0px 4px 0px 0px rgba(221, 221, 221, 1);

        &:hover {
          opacity: 70%;
        }
        &:active {
          opacity: 50%;
        }

        .head-top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;

          .delete-button {
            padding: 5px;
            border-radius: 6px;
            border: 1px solid rgba(221, 221, 221, 1);
            box-shadow: 0px 2px 0px 0px rgba(221, 221, 221, 1);

            &:hover {
              color: red;
              background: #fff;
              opacity: 70%;
            }
          }

          span {
            font-family: FS PF BeauSans Pro;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: 0%;
            color: rgba(103, 103, 103, 1);
          }
        }
        .vocabulary-detail {
          // font-family: FS PF BeauSans Pro;
          font-weight: 700;
          font-size: 20px;
          line-height: 32px;
          letter-spacing: 0%;
          color: rgba(61, 61, 61, 1);
          // margin-bottom: 10px;
        }
        .transcription {
          padding: 10px;
          border-radius: 6px;
          border: 1px solid rgba(221, 221, 221, 1);
          background: rgba(250, 250, 250, 1);
        }
      }
    }

    .bottom-current-button {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 0;
      margin-top: 10px;
    }
  }
}
