.exam-test {
  height: calc(100vh - 48px - 86px - 80px);

  :where(.css-dev-only-do-not-override-ut69n1).ant-tree
    .ant-tree-switcher-noop {
    display: none !important;
  }

  .exam-test-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .exam-test-content {
    display: flex;
    align-items: start;
    gap: 16px;
    height: 100%;

    .content-left-exam {
      width: 25%;
      height: 100%;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      max-height: 100%;

      .header-list-exam {
        border-radius: 5px 5px 0 0;
        background-color: #1677fe;
        color: #fff;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        height: 40px;
        border-bottom: 1px solid #c2c2c2;

        .header-list-total {
          padding: 4px;
          border-radius: 50%;
          background-color: #a0beff;
          width: 25px;
          height: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .content-list-exam {
        background-color: #fff;
        overflow-y: scroll;
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        flex: 1;

        &::-webkit-scrollbar {
          display: none;
        }

        .item-exam {
          border-radius: 5px;
          padding: 10px;
          cursor: pointer;
        }
      }

      .bottom-lisst-exam {
        background-color: #fff;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #c2c2c2;
        border-radius: 0 0 5px 5px;
      }
    }

    .content-right-exam {
      flex: 1;
      background-color: #fff;
      border-radius: 5px;
      overflow-y: scroll;
      height: 100%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end;
      gap: 40px;

      .content-right-top {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .header-content-right {
          margin-bottom: 10px;

          h4 {
            font-size: 20px;
          }
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .list-questions {
          width: 100%;

          .list-answer {
            margin-left: 40px;

            .isCorrect {
              border: 1px solid #056300;
              background-color: #edffec;
            }
            .unCorrect {
              border: 1px solid #872f00;
              background-color: #ffefec;
            }
          }
        }
      }

      .btn-delete-wrapper {
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;
        background-color: #fff;

        .btn-delete-bottom-exam {
          width: 150px !important;
        }
      }
    }
  }
}
